= render 'homes/header'

.questionsIndexEdit
  .questionsIndexEdit__title
    .questionsIndex__title__en
      Edit - No#{@question.id}
    .questionsIndex__title__ja
      〜編集〜
  .editPage
    .editPage__question
      = form_for @question do |f|
        .editPage__question__formBox

        .editPage__question__formBox
          .editPage__question__formBox__formatForm
            = f.select :question_format, [['Four:4択問題'], ['Sort:並び替え問題'], ['Description:記述問題']]

          .editPage__question__formBox__titleBox
            .editPage__question__formBox__titleBox__no
              Q#{@question.id}
            .editPage__question__formBox__titleBox__titleForm
              = f.text_field :title, placeholder: "Title"

        .editPage__question__formBox
          .editPage__question__formBox__sentenceForm
            = f.text_area :sentence, placeholder: "Sentence"

        = f.fields_for @answer do |a|
          .editPage__question__formBox
            .editPage__question__formBox__up
              .editPage__question__formBox__up__box
                .editPage__question__formBox__up__box__answerTitle
                  = a.label :answer, "Answer / 答え"
                .editPage__question__formBox__up__box__formImg
                  .editPage__question__formBox__up__box__formImg__answerForm
                    = a.text_field :answer
                  .editPage__question__formBox__up__box__formImg__answerImage
                    = a.label :answer_image, "Image" do
                      = icon('fas', 'image')
                      = a.file_field :answer_image, class: "hidden"

              .editPage__question__formBox__up__box
                .editPage__question__formBox__up__box__select
                  = a.label :four_select1, "Select / 選択肢1"
                .editPage__question__formBox__up__box__formImg
                  .editPage__question__formBox__up__box__formImg__form
                    = a.text_field :four_select1
                  .editPage__question__formBox__up__box__formImg__image
                    = a.label :four_image1, "Image" do
                      = icon('fas', 'image')
                      = a.file_field :four_image1, class: "hidden"
            
            .editPage__question__formBox__down
              .editPage__question__formBox__down__box
                .editPage__question__formBox__down__box__select
                  = a.label :four_select2, "Select / 選択肢2"
                .editPage__question__formBox__down__box__formImg
                  .editPage__question__formBox__down__box__formImg__form
                    = a.text_field :four_select2
                  .editPage__question__formBox__down__box__formImg__image
                    = a.label :four_image2, "Image" do
                      = icon('fas', 'image')
                      = a.file_field :four_image2, class: "hidden"

              .editPage__question__formBox__down__box
                .editPage__question__formBox__down__box__select
                  = a.label :four_select3, "Select / 選択肢3"
                .editPage__question__formBox__down__box__formImg
                  .editPage__question__formBox__down__box__formImg__form
                    = a.text_field :four_select3
                  .editPage__question__formBox__down__box__formImg__image
                    = a.label :four_image3, "Image" do
                      = icon('fas', 'image')
                      = a.file_field :four_image3, class: "hidden"

          .editPage__question__formBox
            .editPage__question__formBox__explain
              = a.label :explain, "Explain / 答えの解説"
            .editPage__question__formBox__explainForm
              = a.text_area :explain
          .editPage__question__formBox
            .editPage__question__formBox__genre
              = a.label :genre, "Genre / ジャンル"
            .editPage__question__formBox__genreForm
              = a.select :genre, [['test0'], ['test1'], ['test2']]

          .editPage__question__formBox
            = f.submit "Next", class: ".editPage__question__formBox__btn"

= render 'homes/footer'