= render 'homes/header'
- if user_signed_in?
  .questionsIndex
    .questionsIndex__title
      Questions
    .questionsIndex__container
      - @questions.each do |question| 
        .questionsIndex__container__box
          .questionsIndex__container__box__title
            No#{question.id}
          = link_to slove_question_path(question) do
            .questionsIndex__container__box__questionBox
              .questionsIndex__container__box__questionBox__name
                = question.title
              .questionsIndex__container__box__questionBox__sentence
                = question.sentence

- else
  ログインしていません
  = link_to "新規登録", new_user_registration_path
  = link_to "ログイン", new_user_session_path

= render 'homes/footer'