= render 'homes/header'
- if user_signed_in?
  .questionsIndexEdit
    .questionsIndexEdit__title
      .questionsIndex__title__en
        Edit
      .questionsIndex__title__ja
        〜編集〜
    .questionsIndexEdit__container
      - current_user.questions.each do |question| 
        .questionsIndexEdit__container__box
          .questionsIndexEdit__container__box__title
            No#{question.id}
          .questionsIndexEdit__container__box__questionBox
            .questionsIndexEdit__container__box__questionBox__name
              = question.title
            .questionsIndexEdit__container__box__questionBox__sentence
              = question.sentence

          .questionsIndexEdit__container__box__btn
            .questionsIndexEdit__container__box__btn__edit
              = link_to "edit", edit_question_path(question)
            .questionsIndexEdit__container__box__btn__delete
              = link_to "delete"

- else
  = render 'login_view'
  
= render 'homes/footer'