= render 'homes/header'
- if user_signed_in?
  .questionsIndexEdit
    .questionsIndexEdit__title
      Questions
    .questionsIndexEdit__container
      - current_user.questions.each do |question| 
        .questionsIndexEdit__container__box
          .questionsIndexEdit__container__box__title
            No#{question.id}
          .questionsIndexEdit__container__box__questionBox
            .questionsIndexEdit__container__box__questionBox__name
              = question.title
            .questionsIndexEdit__container__box__questionBox__sentence
              = question.sentence
              
          .questionsIndexEdit__container__box__btn
            .questionsIndexEdit__container__box__btn__edit
              = link_to "edit", edit_question_path(question)
            .questionsIndexEdit__container__box__btn__delete
              = link_to "delete"

- else
  ログインしていません
  = link_to "新規登録", new_user_registration_path
  = link_to "ログイン", new_user_session_path

= render 'homes/footer'