= render 'homes/header'
- if user_signed_in?
  .questionsIndex
    .questionsIndex__title
      .questionsIndex__title__en
        Questions
      .questionsIndex__title__ja
        〜問題一覧〜
    .questionsIndex__container
      - @questions.each do |question| 
        .questionsIndex__container__box
          = link_to slove_question_path(question) do
            .questionsIndex__container__box__title
              No#{question.id}
            .questionsIndex__container__box__questionBox
              .questionsIndex__container__box__questionBox__sentence
                = question.sentence
              .questionsIndex__container__box__questionBox__icon
                .questionsIndex__container__box__questionBox__icon__good
                  = icon('far', 'thumbs-up')
                  .questionsIndex__container__box__questionBox__icon__good__count
                    #{question.rates.count}
                .questionsIndex__container__box__questionBox__icon__comment
                  = link_to question_path(question) do
                    = icon('far', 'comment')
                    .questionsIndex__container__box__questionBox__icon__comment__count
                      #{question.comments.count}
- else
  = render 'login_view'

= render 'homes/footer'