= render 'homes/header'

.resultPage
  .resultPage__main
    .resultPage__main__answerBox
      .resultPage__main__answerBox__rate
        = render 'rates/rate'
      .resultPage__main__answerBox__title
        A:
      .resultPage__main__answerBox__answer
        = @question.answer.answer
    .resultPage__main__exBox
      .resultPage__main__exBox__title
        EX:
      .resultPage__main__exBox__explain
        = @question.answer.explain
    .resultPage__main__btnBox
      .resultPage__main__btnBox__btn
        = link_to "index", questions_path

= render 'homes/footer'