.slovePage
  .slovePage__titleBox
    .slovePage__titleBox__no
      Q#{@question.id}
    .slovePage__titleBox__title
      = @question.title
  .slovePage__sloveBox
    .slovePage__sloveBox__sentence
      = @question.sentence
    .slovePage__sloveBox__selecetsBox
      .slovePage__sloveBox__selecetsBox__select
        = radio_button_tag('select', 'answer')
        = label_tag('select_answer', "#{@question.answer.answer}")
      .slovePage__sloveBox__selecetsBox__select
        = radio_button_tag('select', 'select1')
        = label_tag('select_select1', "#{@question.answer.four_select1}")
      .slovePage__sloveBox__selecetsBox__select
        = radio_button_tag('select', 'select2')
        = label_tag('select_select2', "#{@question.answer.four_select2}")
      .slovePage__sloveBox__selecetsBox__select
        = radio_button_tag('select', 'select3')
        = label_tag('select_select3', "#{@question.answer.four_select3}")
  .slovePage__resultBox
    .slovePage__resultBox__result
      .slovePage__resultBox__result__correct
        正解
      .slovePage__resultBox__result__incorrect
        不正解
  .slovePage__next
    .slovePage__next__btn
      = link_to '答え', result_question_path(@question)