.slovePage
  .slovePage__titleBox
    .slovePage__titleBox__no
      Q#{@question.id}
    .slovePage__titleBox__title
      = @question.title
  .slovePage__sloveBox
    .slovePage__sloveBox__sentence#question
      = @question.sentence
    %ul.slovePage__sloveBox__selectsBox#selects
      %li.slovePage__sloveBox__selectsBox__select#answer
        = @question.answer.answer
      %li.slovePage__sloveBox__selectsBox__select.select
        = @question.answer.four_select1
      %li.slovePage__sloveBox__selectsBox__select.select
        = @question.answer.four_select2
      %li.slovePage__sloveBox__selectsBox__select.select
        = @question.answer.four_select3
    .slovePage__sloveBox__next#btn.disable
      next

  .slovePage__resultBox
    .slovePage__resultBox__result
      .slovePage__resultBox__result__correct
        正解
      .slovePage__resultBox__result__incorrect
        不正解
  .slovePage__next
    .slovePage__next__btn
      = link_to '答え', result_question_path(@question)