= render 'homes/header'

.slovePage
  .slovePage__titleBox
    .slovePage__titleBox__no
      Q#{@question.id}
    .slovePage__titleBox__title
      = @question.title
  .slovePage__sloveBox
    .slovePage__sloveBox__sentence#question
      = @question.sentence
    %ul.slovePage__sloveBox__selectsBox#selects
      %li.slovePage__sloveBox__selectsBox__select#answer
        = @question.answer.answer
      %li.slovePage__sloveBox__selectsBox__select.select
        = @question.answer.four_select1
      %li.slovePage__sloveBox__selectsBox__select.select
        = @question.answer.four_select2
      %li.slovePage__sloveBox__selectsBox__select.select
        = @question.answer.four_select3
    .slovePage__sloveBox__next#btn.disable
      = link_to 'next', result_question_path(@question)

= render 'homes/footer'