= render 'homes/header'
.playPage
  .playPage__test
    - @shuffle.each_with_index do |question, index|
      .playPage__test__titleBox
        .playPage__test__titleBox__no
          = index+1
        .playPage__test__titleBox__title
          = question.title
      .playPage__test__sloveBox
        .playPage__test__sloveBox__sentence
          = question.sentence
        .playPage__test__sloveBox__selectsBox
          .playPage__test__sloveBox__selectsBox__select
            = question.answer.answer
          .playPage__test__sloveBox__selectsBox__select
            = question.answer.four_select1
          .playPage__test__sloveBox__selectsBox__select
            = question.answer.four_select2
          .playPage__test__sloveBox__selectsBox__select
            = question.answer.four_select3

= render 'homes/footer'