= render 'homes/header'

.testPage
  .testPage__start
    .testPage_start__container
      .testPage_start__container__title
        TEST MODE
      .testPage_start__container__ex
        〜試験スタート〜
      .testPage_start__btnbox
        .testPage_start__btnbox__btn
          START

  .testPage__test
    = @shuffle[0].title
    = @shuffle[0].sentence
    = @shuffle[1].title
    = @shuffle[2].title
    = @shuffle[3].title
    = @shuffle[4].title
    = @shuffle[5].title
    = @shuffle[6].title
    = @shuffle[7].title
    = @shuffle[8].title
    = @shuffle[9].title

= render 'homes/footer'