= render 'homes/header'

.mypage
  .mypage__topBox
    .mypage__topBox__title
      #{@user.nickname} 's Mypage
  .mypage__midleBox
    .mypage__midleBox__container
      .mypage__midleBox__container__question
        Questions：#{current_user.questions.count}
      .mypage__midleBox__container__rate
        Rates：
  .mypage__underBox
    .mypage__underBox__container
      .mypage__underBox__container__questions
        = link_to index_edit_questions_path do
          .mypage__underBox__container__questions__title
            questions
          .mypage__underBox__container__questions__img
            = icon('fas', 'graduation-cap')
      .mypage__underBox__container__profile
        = link_to profile_mypage_path(current_user.id) do
          .mypage__underBox__container__profile__title
            profile
          .mypage__underBox__container__profile__img
            = icon('fas', 'address-card')
      .mypage__underBox__container__password
        = link_to edit_user_registration_path do
          .mypage__underBox__container__password__title
            password
          .mypage__underBox__container__password__img
            = icon('fas', 'unlock-alt')

= render 'homes/footer'