.footer
  .footer__topBox
    .footer__topBox__container
      = link_to what_homes_path do
        .footer__topBox__container__title
          = icon('fas', 'question')
          What's
          = icon('fas', 'question')
    .footer__topBox__container
      = link_to contact_path do
        .footer__topBox__container__title
          = icon('far', 'envelope')
          Contact
          = icon('far', 'envelope')
    .footer__topBox__container
      = link_to faq_homes_path do
        .footer__topBox__container__title
          = icon('far', 'comment-alt')
          FAQ
          = icon('far', 'comment-alt')
  .footer__downBox
    .footer__downBox__container
      .footer__downBox__container__title
        = link_to root_path do
          QuizzZ
      .footer__downBox__container__icons
        .footer__downBox__container__icons__twitter
          = link_to "#" do
            = icon('fab', 'twitter-square')
        .footer__downBox__container__icons__facebook
          = link_to "#" do
            = icon('fab', 'facebook-square')
        .footer__downBox__container__icons__line
          = link_to "#" do
            = icon('fab', 'line')