.header
  .header__title
    = link_to root_path do
      QuizzZ
  .header__rightBox
    - if user_signed_in?
      .header__rightBox__mypage
        = link_to "#" do
          .header__rightBox__mypage__icon
            = icon('fas', 'laptop')
          .header__rightBox__mypage__name
            mypage
      .header__rightBox__logout
        = link_to destroy_user_session_path, method: :delete do
          .header__rightBox__logout__icon
            = icon('fas', 'door-open')
          .header__rightBox__logout__name
            logout
    - else
      .topPage__top__mainLeft__btnBox
        .topPage__top__mainLeft__btnBox__user
          .topPage__top__mainLeft__btnBox__user__btn
            = link_to "New", new_user_registration_path
        .topPage__top__mainLeft__btnBox__login
          .topPage__top__mainLeft__btnBox__login__btn
            = link_to "Login", new_user_session_path