= render 'header'
.topPage
  .topPage__top
    .topPage__top__mainLeft
      .topPage__top__mainLeft__message
        .topPage__top__mainLeft__message__up
          Let's Play
        .topPage__top__mainLeft__message__down
          QuizzZ
      - if user_signed_in?
      - else
        .topPage__top__mainLeft__btnBox
          .topPage__top__mainLeft__btnBox__user
            .topPage__top__mainLeft__btnBox__user__btn
              = link_to "New", new_user_registration_path
          .topPage__top__mainLeft__btnBox__login
            .topPage__top__mainLeft__btnBox__login__btn
              = link_to "Login", new_user_session_path

    - if user_signed_in?
      .topPage__top__mainRight
        .topPage__top__mainRight__topImgLogin
          = image_tag 'chemistry-2.png', alt: 'top-img', height: '300', width: '350', class: '.topPage__top__mainRight__topImgLogin__img'
    - else
      .topPage__top__mainRight
        .topPage__top__mainRight__topImg
          = image_tag 'chemistry-2.png', alt: 'top-img', height: '300', width: '350', class: '.topPage__top__mainRight__topImg__img'

  .topPage__down
    .topPage__down__left
      = link_to new_question_path(current_user) do
        .topPage__down__left__btn
          Create
        .topPage__down__left__img
          = image_tag 'potion-of-luck.png', alt: 'create-img', height: '120', width: '159'
        .topPage__down__left__message
          First, let's make 
          %br our own problem
    .topPage__down__center
      = link_to questions_path do
        .topPage__down__center__btn
          Slove
        .topPage__down__center__img
          = image_tag 'mana-potion.png', alt: 'slove-img', height: '120', width: '143'
        .topPage__down__center__message
          Let's solve the problem
          %br created by everyone
    .topPage__down__right
      = link_to "" do
        .topPage__down__right__btn
          Edit
        .topPage__down__right__img
          = image_tag 'herbal-potion.png', alt: 'edit-img', height: '120', width: '147'
        .topPage__down__right__message
          Edit the problem
          %br in some cases

= render 'footer'