= render 'header'

.topPage
  .topPage__top
    .topPage__top__mainLeft
      .topPage__top__mainLeft__message
        .topPage__top__mainLeft__message__en
          Let's Play
          %br QuizzZ
        .topPage__top__mainLeft__message__ja
          学んだことを問題で出題しアウトプット
          %br
          みんなに問題を解いてもらい
          %br
          みんなの問題を解いてみよう

    - if user_signed_in?
      .topPage__top__mainRight
        .topPage__top__mainRight__topImgLogin
          = image_tag 'chemistry-2.png', alt: 'top-img', height: '300', width: '350', class: '.topPage__top__mainRight__topImgLogin__img'
    - else
      .topPage__top__mainRight
        .topPage__top__mainRight__topImg
          = image_tag 'chemistry-2.png', alt: 'top-img', height: '300', width: '350', class: '.topPage__top__mainRight__topImg__img'

  .topPage__middle
    .topPage__middle__challengeBtn
      = link_to test_challenges_path do
        Challenge MODE

  .topPage__down
    .topPage__down__left
      = link_to new_question_path(current_user) do
        .topPage__down__left__btn
          .topPage__down__left__btn__en
            Create
          .topPage__down__left__btn__ja
            〜問題を作る〜
        .topPage__down__left__img
          = image_tag 'potion-of-luck.png', alt: 'create-img', height: '120', width: '159'
        .topPage__down__left__message
          Let's give a QuizzZ
          %br the first thing we learned
    .topPage__down__center
      = link_to questions_path do
        .topPage__down__center__btn
          .topPage__down__center__btn__en
            Slove
          .topPage__down__center__btn__ja
            〜問題を解く〜
        .topPage__down__center__img
          = image_tag 'mana-potion.png', alt: 'slove-img', height: '120', width: '143'
        .topPage__down__center__message
          Let's solve the QuizzZ
          %br created by everyone
    .topPage__down__right
      = link_to index_edit_questions_path do
        .topPage__down__right__btn
          .topPage__down__right__btn__en
            Edit
          .topPage__down__right__btn__ja
            〜問題を編集する〜
        .topPage__down__right__img
          = image_tag 'herbal-potion.png', alt: 'edit-img', height: '120', width: '147'
        .topPage__down__right__message
          Edit the QuizzZ
          %br in some cases

= render 'footer'