= render 'homes/header'

.loginPage
  .loginPage__main
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .loginPage__main__box
        .loginPage__main__box__formbox
          .loginPage__main__box__formbox__title
            = f.label :email, "email"
          .loginPage__main__box__formbox__form
            = f.email_field :email, autofocus: true, autocomplete: "email"
        
        .loginPage__main__box__formbox
          .loginPage__main__box__formbox__title
            = f.label :password, "password"
          .loginPage__main__box__formbox__form
            = f.password_field :password, autocomplete: "current-password"
      
      .loginPage__main__login
        .loginPage__main__login__btn
          = f.submit "Log in"

= render 'homes/footer'