= render 'homes/header'

= form_for @contact, url: contact_confirm_path do |f|
  お問い合わせ

  - if @contact.errors.any?
    入力にエラーがあります
    %ul
      = @contact.errors.each do |attr, msg|
        %li
          = msg

  名前
  = f.text_field :name
  email
  = f.text_field :email

  お問い合わせ内容
  = f.text_area :message

  = f.submit '確認'

= render 'homes/footer'