- if !current_user?(question.user)
  

Rate.find_by(user_id: current_user.id, question_id: @question.id)
  = link_to("/rates/#{@question.id}/destory", method: :post) do
    .rate-btn
      = icon('far', 'thumbs-up')
- else
  = link_to("/rates/#{@question.id}/create", method: :post) do
    .rate-btn-un
      = icon('far', 'thumbs-up')